
$height: 46px;
$user_photo: 30px;
.header {
    height: $height;
    line-height: $height;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 16px;
    div {
        img {
            margin-right: 5px;
            vertical-align: -.29em;
        }
    }
    div:last-child {
        width: 150px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        
        img {
            width: $user_photo;
            height: $user_photo;
            border-radius: 50%;
            vertical-align: middle;
        }
        .loginOut {
            cursor: pointer;
        }
        
    }
}