@import '../../../css/variable.scss';

.remind {
    .title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    
}
.layer-behavior {
    > * {
        width: 100%;
        margin-bottom: 15px;
    }
    .remind_way {
        > div {
            display: inline-block;
        }
    }
}

